.gameUser {
	display: flex;
}

.infoUser {
	margin-left: 10px;
}

.userNickname {
	font-size: 19px;
	font-weight: 600;
	margin-bottom: 5px;
}
.userEmail {
	font-size: 17px;
	font-weight: 400;
	margin: 0;
}

.avatar {
	width: 45px;
	height: 45px;
	object-fit: cover;
}
