.gameUser {
	display: flex;
	align-items: center;
}

.infoUser {
	margin-left: 10px;
}

.userNickname {
	font-size: 19px;
	font-weight: 600;
	margin-bottom: 5px;
}
.userEmail {
	font-size: 17px;
	font-weight: 400;
	margin: 0;
}
