@import './variables.scss';
.mainCard {
	display: flex;
	gap: 25px;
}
.img {
	width: 400px;
	height: 500px;
	border-radius: 15px;
	box-shadow: 2px 1px 0.6px 2px rgba(0, 0, 0, 0.5);
}
.description {
	margin-bottom: 25px;
}
.btnBuyNow {
	padding: 0.6rem 1.2rem;
	background-color: transparent;
	color: $white;
	border: 2px solid $lightGray;
	border-radius: 5px;
	cursor: pointer;
}
