@import '../../styles/variables.scss';
.imgGame {
	width: 380px;
	height: 470px;
	border-radius: 15px;
}

.infoOfGame {
	position: absolute;
	display: flex;
	flex-direction: column;
	bottom: 14px;
	left: 15px;
	align-items: flex-start;
	color: $colorFont;
}

.gameTitle {
	margin-bottom: 5px;
	line-height: 1.1;
	font-size: 20px;
	font-weight: 600;
	background-color: rgba($black, 0.7);
	border-radius: 15px;
	padding: 10px 15px;
	max-width: 330px;
}

.gamePrice {
	background-color: rgba($black, 0.7);
	border-radius: 15px;
	padding: 10px 15px;
	font-size: 17px;
}
