@import './../../styles/variables.scss';

.actualGames {
	margin-top: 25px;
}
.arrow {
	filter: invert(1);
	background-color: transparent;
	margin-left: 25px;
	border: none;
	cursor: pointer;
	transition: opacity 0.3s ease;

	&:hover {
		opacity: 0.7;
	}
}

.games {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 15px;

	@media (max-width: 1129px) {
		& {
			gap: 25px;

			grid-template-columns: repeat(2, 1fr);
			justify-items: center;
		}
	}

	@media (max-width: 789px) {
		grid-template-columns: 1fr;
		gap: 15px;
	}
}

.wrapper__img {
	position: relative;
}
