@import './../../styles/variables.scss';

.actualGames {
	margin-top: 25px;
}
.arrow {
	filter: invert(1);
	background-color: transparent;
	margin-left: 25px;
	border: none;
	cursor: pointer;
	transition: opacity 0.3s ease;

	&:hover {
		opacity: 0.7;
	}
}

.games {
	display: grid;
	grid-template-columns: repeat(3, 380px);
	gap: 25px;
	overflow: hidden;
}

.wrapper__img {
	position: relative;
}
