@import '../../styles/variables.scss';
@import '../../index.scss';

.Header {
	padding-top: 10px;
	padding-bottom: 25px;
}

.settingsHeader {
	.wrapper {
		justify-content: flex-start;
	}
}

.input {
	padding: 15px 8px;
	padding-right: 37px;
	border: none;
	width: 25em;
	border-radius: 15px;
	background-color: $lightGray;
}

.wrapper__input {
	max-width: 26rem;
	position: relative;
	margin-right: 25px;
}

.search {
	position: absolute;
	right: 8px;
	width: 33px;
	height: 33px;
	top: 7px;
	filter: invert(1);
}

.wrapper__userActions {
	display: flex;
	gap: 30px;
	align-items: center;
}
.wrapper__inboxNotific {
	display: flex;
	gap: 15px;

	img {
		width: 35px;
		height: 35px;
		border-radius: 50%;
	}
}

.inboxNotific {
	background-color: $lightGray;
	border-radius: 50%;
	border: none;
	cursor: pointer;
	padding: 10px 15px;
	transition: background-color 0.3s ease;
	& > img {
		filter: invert(1);
	}
	&:hover {
		background-color: rgba($white, 0.4);
	}
}

.setAvatar {
	background-color: transparent;
	&::placeholder {
		font: 10px;
	}
}

.input__wrapper {
	position: relative;
	margin: 15px 0;
}

.input__file {
	opacity: 0;
	visibility: hidden;
	position: absolute;
}

.input__fileButtonText {
	line-height: 1;
	margin-top: 1px;
}

.input__fileButton {
	padding: 15px 20px;
	background: $gray;
	border: 1px solid $lightGray;
	color: #fff;
	font-size: 1rem;
	font-weight: 600;
	border-radius: 13px;
	cursor: pointer;
}
