@import './../../styles/variables.scss';

.sidebar {
	position: fixed;
	top: 0;
	left: 0;
	width: 260px;
	height: 100%;

	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 25px 20px;

	@media (max-width: 1635px) {
		& {
			display: none;
		}
	}
}

.logo {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 20px;
}

.menu {
	width: 100%;
	flex-grow: 1;
	margin-top: 35px;
}

.category {
	width: 35px;
	height: 35px;
	margin-right: 10px;
	filter: invert(1);
	transition: filter 0.3s;
}
.menuItem {
	display: flex;
	align-items: center;
	padding: 10px 20px;
	color: white;
	text-decoration: none;

	cursor: pointer;
	margin-bottom: 10px;
	transition: color 0.3s;
}

.menuItem:hover,
.active {
	color: #b33c58;

	.category {
		filter: invert(36%) sepia(50%) saturate(550%) hue-rotate(320deg)
			brightness(99%) contrast(100%);
	}
}

.settingsHelp {
	margin-top: 70px;
	width: 100%;
}
.promo {
	background: linear-gradient(90deg, #ff8a00, #e52e71);
	padding: 20px;
	border-radius: 10px;
	text-align: center;
	margin-top: 20px;
}

.promoButton {
	background-color: white;
	color: #e52e71;
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	cursor: pointer;
	margin-top: 10px;
	transition: background-color 0.3s;
	text-decoration: none;

	&:hover {
		background-color: #f1f1f1;
	}
}
