@import './../../styles/variables.scss';
.sidebar {
	position: fixed;
	top: 0;
	left: 0;
	width: 260px;
	height: 100%;

	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 25px 20px;
}

.logo {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 20px;
}

.menu {
	width: 100%;
	flex-grow: 1;
}

.menuItem {
	display: flex;
	align-items: center;
	padding: 10px 20px;
	color: white;
	text-decoration: none;
	font-size: 18px;
	margin-bottom: 10px;
	transition: background-color 0.3s;
}

.menuItem:hover,
.menuItem.active {
	// background-color: #333;
	color: #b33c58;
}
.categorySidebar {
	width: 35px;
	height: 35px;
	margin-right: 10px;
}
.badge {
	background-color: #e91e63;
	color: white;
	border-radius: 50%;
	padding: 5px 10px;
	margin-left: auto;
}

.promo {
	background: linear-gradient(90deg, #ff8a00, #e52e71);
	padding: 20px;
	border-radius: 10px;
	text-align: center;
	margin-top: 20px;
}

.promoButton {
	background-color: white;
	color: #e52e71;
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	cursor: pointer;
	margin-top: 10px;
	transition: background-color 0.3s;

	&:hover {
		background-color: #f1f1f1;
	}
}
