.wrapperAboutGame {
	display: flex;
	gap: 15px;
	align-items: center;
	margin-bottom: 15px;
}
.imageGame {
	border-radius: 10px;
	width: 76px;
}
.gameName {
	font-size: 0.9rem;
	margin-bottom: 15px;
}
.procent {
	font-size: 0.8rem;
}
